<ion-header>

  <ion-navbar>
    <ion-title>Parent Profile</ion-title>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h3>Students under you</h3>
    
   <label class="item item-input">
      <span class="input-label">Number</span>
      <input type="number" #myid>
   </label>
    
    <button outline (click)="fetch_data(myid.value)">
        Retrieve
    </button>
    
  <ion-list *ngIf="students?.length > 0">
    <button ion-item *ngFor="let student of students">
      <h2>{{ student?.name }}</h2>
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" item-right></ion-icon>
    </button>
  </ion-list>
    

<ion-list>
  <ion-item>
    <ion-label>Standard</ion-label>
    <ion-select>
      <ion-option *ngFor="let item of standard">{{item}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
    
<ion-list>
  <ion-item>
    <ion-label>Section</ion-label>
    <ion-select [(ngModel)]="section">
      <ion-option *ngFor="let item of section">{{item}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

 <div class="list box">
	<div class="item picker-input">
		<ion-label>Start Date</ion-label>		
    	<input type="date" ng-model="startDate" ng-change="updateCleanEnd()" class="date close-right" />
      </div>
      <div class="item picker-input">
       	<ion-label>End Date</ion-label>
          <input type="date" ng-model="endDate" ng-change="setDirty()" class="date close-right" />
       </div>
</div>

<button (click)="showtimetable()">Show Timetable</button>

    
</ion-content>
