<ion-header>

  <ion-navbar  color="appheader">
<ion-row> 
 <ion-col offset-25><p>4-A 22/MAR</p></ion-col>
</ion-row>

<ion-row>
  
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
       
<!--<ion-col offset-50><ion-item   no-lines color="appheader" >
  <ion-datetime displayFormat="DD/MMM/YY" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>
</ion-col>-->
</ion-row>
  </ion-navbar>

</ion-header>

     <ion-content padding class="crt">

    <ion-card>

        <ion-item>
            <ion-label>Period1</ion-label>
            <ion-select [(ngModel)]="selected_period" >
                <ion-option *ngFor= " let x of attendance_period" (ionSelect)= "change(x)">{{x.period_type}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Start Time</ion-label>
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="selected_start_time"></ion-datetime>
        </ion-item>


        <ion-item>
            <ion-label >End Time</ion-label>
            <ion-datetime displayFormat="HH:mm"[(ngModel)]="selected_end_time"></ion-datetime>
        </ion-item>

       <ion-item>
            <ion-label>Subject</ion-label>
            <ion-select [(ngModel)]="selected_subject">
            <ion-option *ngFor= " let n of daily_diary_subject"> {{n.subject_name}} </ion-option>
    </ion-select><br>
       </ion-item>

        <ion-item>
            <ion-label>Teacher</ion-label>
            <ion-select [(ngModel)]="selected_name">
                <ion-option *ngFor="let n of teacher_subject">{{n.name}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Attendance required</ion-label>
            <ion-toggle item-right [(ngModel)]="d"></ion-toggle>
        </ion-item>

        <ion-item>
            <button (click)="addRefTimeToClass()">Add</button>
        </ion-item>
    </ion-card>


<br />
    <br />
    <ion-card>
        <ion-card-header class="card-header">Periods</ion-card-header>
        <ion-grid *ngIf="classRefTimes != null && classRefTimes?.length > 0">
            <ion-row class="padding-bottom">
                <ion-col light>Timing</ion-col>
                <ion-col>Type</ion-col>
                <ion-col>Subject</ion-col>
                <ion-col>Teacher</ion-col>
                <ion-col>Attendance</ion-col>
                <ion-col>Action</ion-col>
            </ion-row>
            <ion-row *ngFor="let i of classRefTimes">
                <ion-col class="align-bottom">{{i.start_time}} - {{i.end_time}}</ion-col>
                <ion-col class="align-bottom">{{i.period_type}}</ion-col>
                <ion-col class="align-bottom">{{i.subject}}</ion-col>
                <ion-col class="align-bottom">{{i.teacher_name}}</ion-col>
                <ion-col class="align-bottom">{{i.attendance_required}}</ion-col>
                <ion-col class="align-bottom">
                    <button small clear (click)="removeRefTimeFromClass(i)">
                        <ion-icon name="trash">
                        </ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar color="appheader"><ion-row><ion-col id="col1"><ion-icon (click)="home()" color="lit" name="home" align-left><br>home</ion-icon></ion-col>
<ion-col id="col2" *ngIf="showview">  <ion-icon name="book" (click)="viewDiary()" ><br>view</ion-icon></ion-col></ion-row>  </ion-toolbar>
</ion-footer>







<!--<ion-header transparent>
  <ion-navbar color="appheader">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Time-Table   
    </ion-title>
  </ion-navbar>
  <ion-navbar align="center">  {{day}} <br> {{date}} </ion-navbar>

</ion-header>
<br> <br> <br> 
<ion-content>
<ion-grid>
    <ion-row  class="row" *ngFor="let item of timetab">
        <ion-col  width-10 class="coldesign1"> 
            <ion-item >  <br> <br> </ion-item>
        </ion-col>

         <ion-col > 
            <ion-list class="r">
                 <ion-item-sliding>
                    <ion-item> {{item.periods}} <br> {{item.subjects}} </ion-item>
                        <ion-item-options side="right">
                            <button ion-button color="danger" (click)="editSubject(item)"> Edit </button>
                        </ion-item-options>
                   </ion-item-sliding>     
            </ion-list> 
        </ion-col>  
    </ion-row> 
</ion-grid>
</ion-content>-->

<!--
  Generated template for the Attendance2 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--<ion-content padding-top="5"> 
   <ion-list *ngFor= "let y of time_table_notification">     
     
            <ion-row>
            <ion-col>{{subject_selected}}<ion-select [(ngModel)]= "subject_selected">
               <ion-option *ngFor= "let sub of subject">{{sub}}</ion-option>
              </ion-select>
            </ion-col>
            <ion-col  class="col1"> {{y.period}}</ion-col> 
            <ion-col offset-25  class="col1">{{y.start_time}}-{{y.end_time}}</ion-col></ion-row>
            
          <ion-row><ion-col>{{y.teacher_name}}</ion-col>
            <ion-col offset-50 class="col1">Attendance<br> 
              <ion-toggle disabled="true()" checked="false"></ion-toggle>   
            </ion-col>
          </ion-row>
    
  </ion-list> -->
     
     




