<ion-header transparent>
  <ion-navbar color="appheader">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   <ion-title *ngIf="!showheader">
<p id="hh" (click)="doFilter()">{{selected_record}} 
           <ion-icon id="jj" ios="ios-arrow-down" md="<md-arrow-></md-arrow->down"></ion-icon></p>
     </ion-title>       
<ion-title *ngIf="showheader">
locationTracking
</ion-title>
  </ion-navbar>
</ion-header>
 
 <ion-select #sectionSelect >
         <ion-option *ngFor="let roll of login"  (ionSelect)="changerecord(roll)">Roll No.{{roll.student_id}}-{{roll.student_name}}</ion-option>
  </ion-select>
  
<ion-content>
  <h3>Current Latitude: {{locationTracker.lat}}</h3>
  <h3>Current Longitude: {{locationTracker.lng}}</h3>
  <button ion-button full primary (click)="start()">Start Tracking</button>
  <button ion-button full primary (click)="stop()">Stop Tracking</button>
  <p align="center"><img src="assets/img/donmap3.png" height="300px" width="300px" > </p>
</ion-content>