<ion-header transparent>
     <ion-navbar color="appheader">
    <ion-title>Test</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  
  </ion-navbar>
</ion-header>
<ion-content padding><br/>
  <ion-item>
    <ion-label class="www" stacked>Standard</ion-label>
    <ion-select  [(ngModel)]="selected_standard"  
                 (ionChange)= "class_selected()" >
      <ion-option *ngFor= " let x of class" value= "{{x.standard}}"> class - {{x.standard}} </ion-option>

    </ion-select>
  </ion-item><br>

<ion-item>
    <ion-label class="www" stacked>Section</ion-label>
    <ion-select [(ngModel)]="Section">
        <ion-option *ngFor= " let y of sec">{{y.section}}</ion-option>
    </ion-select>
  </ion-item><br>

<ion-item>
  <ion-label class="www" stacked>Subject</ion-label>
  <ion-select [(ngModel)]="selected_subject">
            <ion-option *ngFor= " let n of daily_diary_subject">{{n.subject_name}}</ion-option>
    </ion-select><br>
</ion-item>
  <button ion-button color="loginbutton" block (click)="submit()"> Submit</button>
</ion-content>
