.page-bg {
    .header-row-display {
        background-color: gainsboro;
        color: black;
        vertical-align: middle;
        //padding: 2%;
    }
    .center-position{
        text-align: center;
    }
}