.ios,.md{
    page-attendance {
     @font-face{
        font-family: Barrio;
        src: url"(‘../assets/fonts/barrio.woff2’) format(‘woff2’)";
        }
        ion-option,ion-select{font-family: 'Times New Roman', Times, serif;
    font-size: 100%; }
        button,h3 { font-family:'Times New Roman', Times, serif;} 
        ion-title,ion-segment{font-family: 'Oswald', sans-serif;}
        .www,p,h4{font-family: 'Oswald', sans-serif;font-size:100%;}
    
#mod{
   // width: 75%;
    //margin-right: 0%;
}
#a1{
    //width: %
    text-align: center;
    width: 30%;
    margin-left: 30%;
    border-radius: 30%;
    
    
}
}
}