.ios,.md{
   page-attendance {
       @font-face{
        font-family: Barrio;
        src: url"(‘../assets/fonts/barrio.woff2’) format(‘woff2’)";
        }
        ion-option,ion-select{font-family: 'Times New Roman', Times, serif;color: black;
    font-size: 100%; }
        h3 { font-family:'Times New Roman', Times, serif;color: black;} 
        ion-title,ion-segment{font-family: 'Oswald', sans-serif;color: black;}
        .www,p,h4{font-family: 'Oswald', sans-serif;font-size:100%;color: black;}
#mod{
   // width: 75%;
    //margin-right: 0%;
}
#a1{
    //width: %
    text-align: center;
    width: 30%;
    margin-left: 30%;
    border-radius: 30%;
    color: white;
    
    
}
#col1,#col2{
    text-align: center;
    font-size: 120%;
    color:white;
}

}

}