<ion-header>
  <ion-navbar  color="appheader">
    <ion-title>Exam Time Table</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>  
    
    <ion-item-sliding #slidingItem  *ngFor= "let x of exam_view">
 
        <ion-item (click)="view(x)">
       
          <ion-row no-lines>
                <ion-col  class="col-3" width-25>{{x.date | date: 'dd/MM'}}</ion-col>
                <ion-col  class="col-4" width-75>{{x.subject}}</ion-col>
            </ion-row>

            <ion-row  *ngIf="show" no-lines>
                <ion-col width-25 class="col-3"></ion-col>
                <ion-col class="col-4" width-75>{{x.from_time}} - {{x.end_time}}</ion-col> <br>   
            </ion-row>
            <ion-row  *ngIf="show" no-lines>
                  <ion-col width-25 class="col-3"></ion-col>
                  <ion-col class="colwrap">{{x.syllabus}}</ion-col>
            </ion-row>
          </ion-item>
           
        <ion-item-options side="right">
         
          <button ion-button color="secondary" (click)="edit(slidingItem,x)">
            <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
            Edit
          </button>
            <button ion-button color="danger" (click)="Delete(slidingItem,x)">
            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>  
<ion-footer>
  <ion-toolbar color="appheader">
    <ion-row><ion-col id="col100"><ion-icon color="lit" name="home" (click)="home()" align-left><br>home</ion-icon></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>