.ios,.md{
   page-home {
       @font-face{
        font-family: Barrio;
        src: url"(‘../assets/fonts/barrio.woff2’) format(‘woff2’)";
        }
      
        button,h3,h4 { font-family:'Times New Roman', Times, serif;color: black;} 
        
        .www,p{font-family: 'Oswald', sans-serif;font-size:100%;color: black;}
        ion-title,ion-segment{font-family: 'Oswald', sans-serif;}

 // p
.select-icon, .select-text {
            display: none !important;  /* hidden triangle icon and selected text */
        }
 .hh{
    
      color: white; 
 }   

<<<<<<< HEAD
 h2{
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }    
//hh{
 
//}
#ava{
    margin-top:0;
=======
h3{
    padding-top: 2%;
>>>>>>> 89be561dea3b481878a98ad5b3e7a821abea1d8c
}
 #adadgda {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }
#col1,#col2{
    text-align: center;
    font-size: 120%;
    color:white;
}
#ion1{
    height: 40px !important;
  
}
#i{
    position: relative;
    margin-top:0%;
}
#ion2{
   
    height: 90px !important;
    color:blue;
}
#jj{
    margin-left: 2%;
    font-size: 130%;
   color: white; 
}
h3,h4{
    text-align: left;
    color:blue;
    padding-left:20px;
}
ion-col{
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    border: 5px solid cornflowerblue;
    border-radius: 5px;
}

.header-image {
    background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
    height: 40vh;
}
 
.main-content {
    padding: 20px;
    background-color: white;
}
}
}