
<ion-header transparent>
     <ion-navbar color="appheader">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>


  </ion-navbar>
</ion-header>
<ion-content padding>

  <form [formGroup]= "notifyForm">

  <ion-list no-lines radio-group formControlName="selected_activity" >
    
<ion-row>

  <ion-col>
     <ion-item>
        <ion-radio  value="A" checked  ></ion-radio>
       <ion-label>School</ion-label>
    </ion-item>
  </ion-col>

  <ion-col>
    <ion-item>
      <ion-label>Teacher</ion-label>
      <ion-radio  value="T" ></ion-radio>
    </ion-item>
  </ion-col>

</ion-row>
</ion-list>

  <ion-item>
  <ion-label class="www" stacked> From Date
    <ion-icon  ios="ios-calendar-outline" md="md-calendar"></ion-icon>
  <ion-datetime displayFormat="DD/MMM/YYYY" min="2017" max="2018-10-31" formControlName="selected_from_date"></ion-datetime></ion-label>
</ion-item>
<ion-item  no-lines *ngIf="(notifyForm.controls.selected_from_date.dirty &&
                  notifyForm.controls.selected_from_date.hasError('not a valid date'))"> 
        <p id="mes">date should be  greater than Today </p>
</ion-item>





<ion-item>
  <ion-label class="www" stacked>To Date
      <ion-icon  ios="ios-calendar-outline" md="md-calendar"></ion-icon>
      <ion-datetime displayFormat="DD/MMM/YYYY" pickerFormat="DD MMM YYYY" min="2017" max="2018-10-31" formControlName="selected_to_date"></ion-datetime></ion-label>
</ion-item>
<ion-item no-lines *ngIf="(notifyForm.controls.selected_to_date.valid &&
                  notifyForm.hasError('Less than'))"> 
        <p id="mes">To date should be greater than from date </p>
</ion-item><br/>



 <ion-item>
   <ion-label class="www" stacked>Title</ion-label>
   <ion-textarea autocomplete="on" spellcheck="true" formControlName="selected_title"></ion-textarea>
 </ion-item>

 <ion-item no-lines *ngIf="!notifyForm.controls.selected_title.valid &&
                  (notifyForm.controls.selected_title.dirty) "> 
        <p id="mes">enter the title</p>
</ion-item><br/>

 <ion-item>
   <ion-label class="www" stacked> Message </ion-label>
   <ion-textarea autocomplete="on" spellcheck="true" formControlName="selected_message"></ion-textarea>
 </ion-item>
 <ion-item no-lines *ngIf=" !notifyForm.controls.selected_message.valid &&
                    notifyForm.controls.selected_message.dirty"> 
        <p id="mes">enter the Message</p>
</ion-item><br/>

<button ion-button color="loginbutton" block (click)="notifythanks()" [disabled]="!notifyForm.valid">
      Set Notifications
    </button>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar color="appheader"><ion-row><ion-col id="col1"><ion-icon color="lit" name="home" (click)="home()" align-left><br>home</ion-icon></ion-col>
<ion-col id="col2"  >  <ion-icon name="book" (click)="view()" ><br>view</ion-icon></ion-col></ion-row>  </ion-toolbar>
</ion-footer>
