.ios,.md{
    page-result{
        @font-face{
        font-family: Barrio;
        src: url"(‘../assets/fonts/barrio.woff2’) format(‘woff2’)";
        }
        ion-option,ion-select{font-family: 'Times New Roman', Times, serif;
    font-size: 100%; }
        button,h3 { font-family:'Times New Roman', Times, serif;} 
        ion-title,ion-segment{font-family: 'Oswald', sans-serif;}
        .www,p,h4{font-family: 'Oswald', sans-serif;font-size:100%;}
    .ion-search{
        width: 2%;
    }
    .col44{
        text-align: center;
        margin-left:20%;
    }
    .col{
     
        text-align: center;
    }
    #col1{
        width: 25%;
    }
  
    #a1{
        text-align: center;
        margin-left: 35%;
        height: 7%;
        width: 30%
    }
    #a2{
margin-left: 35%;
        text-align: center;
        height: 7%;
        width: 30%
    }
 #col1,#col2{
    padding:0;
    text-align: center;
    font-size: 90%;
    color:white;
}
}
}