.ios,.md{
    page-pta{
    @font-face{
        font-family: Barrio;
        src: url"(‘../assets/fonts/barrio.woff2’) format(‘woff2’)";
        }
        ion-option,ion-select{font-family: 'Times New Roman', Times, serif;
    font-size: 100%; }
        button,h3 { font-family:'Times New Roman', Times, serif;} 
        ion-title,ion-segment{font-family: 'Oswald', sans-serif;}
<<<<<<< HEAD
        .www,h4{font-family: 'Oswald', sans-serif;font-size:100;}
        p{font-family: 'Oswald', sans-serif;font-size:70%;color: white;}
=======
        .www,p,h4{font-family: 'Oswald', sans-serif;font-size:100;}
>>>>>>> 89be561dea3b481878a98ad5b3e7a821abea1d8c
        ion-item{
     padding: 5%;
     resize: both;
     border: 1px solid black;
 } 
 p{
     text-align: center;
     color: white;
 }
 .ion-header{
     height: 10%;
 }
 ion-avatar,img{
     padding-bottom: 2%;
     width: 20px;
     height:15px;
    text-align: center;
    
 }
 ion-select {
         text-align: center;
          color:white; 
        .select-icon, .select-text {
            display: none !important;  /* hidden triangle icon and selected text */
        }
 }
  #report_item {
    display: none;
  }
  textarea{
      padding: 5%;
      resize: both;
  }
 ion-textarea {
     
    resize:both;
max-width: 100%;
width: 100%;
height: 40vh;
border:1px solid navy;
background-color: whitesmoke;
border-radius: 10px;
}
#col1,#col2{
    padding: 0;
    text-align: center;
    font-size: 80%;
    color:white;
}
h2{
    padding-left: 5%;
}
#uuu{
    
       padding:4%;
    
}
#uuu1{
    
       padding-top:2%;
       padding-left: 4%;
    
}
#nnn{
    font-size: 80%;
}
#btt{
    margin-top:2%;
    width:20%;
    height: 5%;
    text-align: center;
}
}
    }
