

.ios,.md{
   time-table-page {
       @font-face{
        font-family: Barrio;
        src: url"(‘../assets/fonts/barrio.woff2’) format(‘woff2’)";
        }
        ion-option,ion-select{font-family: 'Times New Roman', Times, serif;
         font-size: 100%; }
        button,h3 { font-family:'Times New Roman', Times, serif;} 
        ion-segment{font-family: 'Oswald', sans-serif;}
        .www,h4,.btt,ion-list{font-family: 'Oswald', sans-serif;font-size:100%;}
          ion-title{font-family: 'Oswald', sans-serif;font-size:100%;color: white;}
     
       ion-list{
            
             border: 1px solid black;
             border-radius: 15px;
             background-color: #B6CBF5;
             font-size: 100%;
             
             
         }
         .col3{
             text-align:right;
         }
         #col2{
             text-align: center;
             color: white;
         }
       
         ion-col{
             font-family: 'Times New Roman', Times, serif;
             font-size: 100%;
            
         }
         .col2{
             text-align: center;
         }
         #MMM{
             color: white;
         }
   
  .hh{
     font-size: 120%;
     text-align: center;
     color: white;
 }    
               
#col1{
    padding:0;
    text-align: center;
    font-size: 90%;
    color:white;
   // margin-right: 40%;
}
#col2{
    padding:0;
    text-align: center;
    font-size: 90%;
    color:white;
}
#a1{
    text-align: center;
}
ion-footer{
    color: white;
    text-align:center;
}
}
}



