<ion-header transparent>
  <ion-navbar color="appheader">
    <ion-title>Result</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding><br>
<ion-item>
    <ion-label class="www" stacked>Examtype</ion-label>
    <ion-select  id="sec" [(ngModel)]="examtype">
      <ion-option value="MidTerm">Mid Term</ion-option>
      <ion-option value="Quartely">Quartely</ion-option>
      <ion-option value="II MidTerm">II MidTerm</ion-option>
      <ion-option value="Half Yearly">Half Yearly</ion-option>
      <ion-option value="Revision">Revision</ion-option>
      <ion-option value="Model I">Model I</ion-option>
      <ion-option value="Model II">Model II</ion-option>
      <ion-option value="Annual">Annual </ion-option>
    </ion-select>
  </ion-item><br>
<ion-item id="list1">
    <ion-label class="www" stacked>Class</ion-label>
    <ion-select  id="sec" [(ngModel)]="selected_standard"  
                 (ionChange)= "class_selected()" >
      <ion-option *ngFor= " let x of class" value= "{{x.standard}}"> Class - {{x.standard}} </ion-option>

    </ion-select>
  </ion-item><br>
<ion-item >
    <ion-label  class="www" stacked>Section</ion-label>
    <ion-select  id="sec" [(ngModel)]="Section">
        <ion-option *ngFor= " let y of sec"> {{y.section}} </ion-option>

    </ion-select>
  </ion-item> <br>
<button  ion-button color="loginbutton" full (click)="submit()"> Submit</button>
</ion-content>
